body {
    background-color: var(--opera-gx-background-color) !important;
}

.r-5zmot {
    background-color: rgba(var(--opera-gx-background-color-rgb), 0.65) !important;
}

.r-kemksi {
    background-color: var(--opera-gx-background-color) !important;
}

.r-cqee49 {
    color: var(--opera-gx-background-color) !important;
}

.r-g2wdr4 {
    background-color: var(--opera-gx-background-color-1) !important;
}

.r-z32n2g {
    background-color: var(--opera-gx-background-color-2) !important;
}

.r-qo02w8 {
    box-shadow: rgba(var(--opera-gx-accent-color-rgb), 0.2) 0px 0px 15px, rgba(var(--opera-gx-accent-color-rgb), 0.15) 0px 0px 3px 1px !important;
}

.r-1tbvlxk {
    filter: drop-shadow(rgba(var(--opera-gx-accent-color-rgb), 0.2) 1px -1px 1px) !important;
}

.r-19od9ir {
    box-shadow: rgba(var(--opera-gx-accent-color-rgb), 0.2) 0px 2px 12px !important;
}

.r-l5o3uw {
    background-color: var(--opera-gx-accent-color) !important;
}

/* hovered */
.r-1vtznih {
    background-color: rgba(var(--opera-gx-accent-color-rgb), 0.8) !important;
}

.r-1cvl2hr {
    color: var(--opera-gx-accent-color) !important;
}

.r-gu4em3 {
    background-color: var(--opera-gx-background-color-2) !important;
}

.r-1eltapf {
    background-color: rgba(var(--opera-gx-background-color-10-rgb), 0.14) !important;
}

.r-1pbtemp {
    border-right-color: var(--opera-gx-accent-color) !important;
}

.r-1roi411,
.r-1kqtdi0 {
    border-color: var(--opera-gx-background-color-4) !important;
}

.r-1igl3o0 {
    border-bottom-color: var(--opera-gx-background-color-4) !important;
}

.r-14wv3jr {
    border-color: var(--opera-gx-background-color-2) !important;
}

.r-1bwzh9t {
    color: var(--opera-gx-background-color-7) !important;
}

[style*="border-color: rgb(83, 100, 113)"],
[style*="border-color: rgb(29, 155, 240)"] {
    border-color: var(--opera-gx-accent-color) !important;
}

[style*="color: rgb(239, 243, 244)"] {
    color: var(--opera-gx-accent-color) !important;
}

.r-pjtv4k {
    background-color: rgba(var(--opera-gx-accent-color-rgb), 0.1) !important;
}

.r-2sztyj {
    border-top-color: var(--opera-gx-background-color-3) !important;
}

.r-1bnu78o {
    background-color: var(--opera-gx-background-color-4) !important;
}

nav .r-1nao33i,
[style*="color: rgb(29, 155, 240)"] {
    color: var(--opera-gx-accent-color) !important;
}

svg [stroke="#1D9BF0"] {
    stroke: var(--opera-gx-accent-color) !important;
}

svg [stroke="#2F3336"] {
    stroke: var(--opera-gx-background-color-3) !important;
}

::placeholder {
    color: var(--opera-gx-background-color-7) !important;
}

.r-1hdo0pc,
.r-1peqgm7 {
    background-color: rgba(var(--opera-gx-background-color-10-rgb), 0.1) !important;
}

.r-r18ze4 {
    background-color: rgba(var(--opera-gx-background-color-10-rgb), 0.2) !important;
}

.r-qazpri {
    color: var(--opera-gx-background-color-5) !important;
}

.r-eff69c {
    background-color: var(--opera-gx-background-color-8) !important;
}

.r-yuvema {
    background-color: var(--opera-gx-background-color-7) !important;
}

.r-vhj8yc {
    border-color: var(--opera-gx-accent-color) !important;
}

*::-webkit-scrollbar {
    background: var(--opera-gx-background-color-2);
}

*::-webkit-scrollbar-thumb {
    background: var(--opera-gx-background-color-4);
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--opera-gx-background-color-5);
}