@function opera-gx-background-color-x-rgb($x) {
    $b: if($x>=5, 0, 1);
    $m: if($x>=5, 1, 0.5);
    $scale: $m * $x + $b;
    @return calc(env(-opera-gx-background-color-r) * $scale), calc(env(-opera-gx-background-color-g) * $scale), calc(env(-opera-gx-background-color-b) * $scale);
}

:root {
    @each $what in "accent", "background" {
        --opera-gx-#{$what}-color-rgb: env(-opera-gx-#{$what}-color-r),
        env(-opera-gx-#{$what}-color-g),
        env(-opera-gx-#{$what}-color-b);
        --opera-gx-#{$what}-color: rgb(var(--opera-gx-#{$what}-color-rgb));

        --opera-gx-#{$what}-color-hue-deg: calc(env(-opera-gx-#{$what}-color-h) * 1deg);
        --opera-gx-#{$what}-color-sat: env(-opera-gx-#{$what}-color-s);
        --opera-gx-#{$what}-color-lum: env(-opera-gx-#{$what}-color-l);
    }

    @for $i from 1 through 10 {
        --opera-gx-background-color-#{$i}-rgb: #{opera-gx-background-color-x-rgb($i)};
        --opera-gx-background-color-#{$i}: rgb(var(--opera-gx-background-color-#{$i}-rgb));

        @for $j from 1 through 4 {
            $amount: 100% - ($j * 20%);
            --opera-gx-background-color-#{$i}-#{$j}: color-mix(in srgb, var(--opera-gx-background-color-#{$i}) #{$amount}, white);
        }
    }

    @for $i from 1 through 4 {
        $amount: 100% - ($i * 20%);
        --opera-gx-accent-color-#{$i}: color-mix(in srgb, var(--opera-gx-accent-color) #{$amount}, white);
    }
}