@import 'opera-gx-colors'

@function palette-gx-no($n)
    @return var(--palette-gx-no-#{$n})

$palette-gx-no-0:   #{palette-gx-no(  0)}
$palette-gx-no-4:   #{palette-gx-no(  4)}
$palette-gx-no-8:   #{palette-gx-no(  8)}
$palette-gx-no-12:  #{palette-gx-no( 12)}
$palette-gx-no-16:  #{palette-gx-no( 16)}
$palette-gx-no-20:  #{palette-gx-no( 20)}
$palette-gx-no-24:  #{palette-gx-no( 24)}
$palette-gx-no-32:  #{palette-gx-no( 32)}
$palette-gx-no-40:  #{palette-gx-no( 40)}
$palette-gx-no-59:  #{palette-gx-no( 59)}
$palette-gx-no-77:  #{palette-gx-no( 77)}
$palette-gx-no-80:  #{palette-gx-no( 80)}
$palette-gx-no-88:  #{palette-gx-no( 88)}
$palette-gx-no-90:  #{palette-gx-no( 90)}
$palette-gx-no-92:  #{palette-gx-no( 92)}
$palette-gx-no-96:  #{palette-gx-no( 96)}
$palette-gx-no-98:  #{palette-gx-no( 98)}
$palette-gx-no-100: #{palette-gx-no(100)}

@function palette-gx-accent-l($n)
    @return var(--palette-gx-accent-l-#{$n})

$palette-gx-accent-l-8:   #{palette-gx-accent-l(  8)}
$palette-gx-accent-l-16:  #{palette-gx-accent-l( 16)}
$palette-gx-accent-l-24:  #{palette-gx-accent-l( 24)}
$palette-gx-accent-l-30:  #{palette-gx-accent-l( 30)}
$palette-gx-accent-l-60:  #{palette-gx-accent-l( 60)}
$palette-gx-accent-l-80:  #{palette-gx-accent-l( 80)}
$palette-gx-accent-l-100: #{palette-gx-accent-l(100)}
$palette-gx-accent-l-120: #{palette-gx-accent-l(120)}
$palette-gx-accent-l-140: #{palette-gx-accent-l(140)}
$palette-gx-accent-l-160: #{palette-gx-accent-l(160)}
$palette-gx-accent: $palette-gx-accent-l-100

@function opera-var($name, $suffix: null)
    $suffix-full: if($suffix!=null, #{'-'+$suffix}, '')
    @return #{var(--opera-#{$name}-color#{$suffix-full})}

$opera-background-color:     opera-var('background')
$opera-background-color-hsl: opera-var('background', 'hsl')

$opera-button-background-color:          opera-var('button-background')
$opera-button-background-color-hover:    opera-var('button-background', 'hover')
$opera-button-background-color-pressed:  opera-var('button-background', 'pressed')
$opera-button-border-color:              opera-var('button-border')
$opera-button-disabled-background-color: opera-var('button-disabled-background')
$opera-button-disabled-border-color:     opera-var('button-disabled-border')

$opera-controls-disabled-color:      opera-var('controls-disabled')
$opera-controls-primary-color:       opera-var('controls-primary')
$opera-controls-primary-focus-color: opera-var('controls-primary-focus')
$opera-controls-primary-hover-color: opera-var('controls-primary-hover')

$opera-focus-outline-color: opera-var('focus-outline')

$opera-input-background-color:         opera-var('input-background')
$opera-input-background-color-hover:   opera-var('input-background', 'hover')
$opera-input-background-color-pressed: opera-var('input-background', 'pressed')
$opera-input-border-color:             opera-var('input-border')

$opera-link-color:                  opera-var('link')
$opera-link-focus-background-color: opera-var('link-focus-background')
$opera-link-hover-background-color: opera-var('link-hover-background')

$opera-modal-background-color: opera-var('modal-background')
$opera-modal-border-color:     opera-var('modal-border')
$opera-modal-header-color:     opera-var('modal-header')

$opera-primary-button-background-color:       opera-var('primary-button-background')
$opera-primary-button-background-color-hover: opera-var('primary-button-background', 'hover')
$opera-primary-button-border-color:           opera-var('primary-button-border')
$opera-primary-button-font-color:             opera-var('primary-button-font')

$opera-primary-color:     opera-var('primary')
$opera-primary-color-rgb: opera-var('primary', 'rgb')

$opera-primary-color-l-30:  opera-var('primary', 'l-30')
$opera-primary-color-l-60:  opera-var('primary', 'l-60')
$opera-primary-color-l-80:  opera-var('primary', 'l-80')
$opera-primary-color-l-120: opera-var('primary', 'l-120')
$opera-primary-color-l-140: opera-var('primary', 'l-140')
$opera-primary-color-opacity-25: opera-var('primary', 'opacity-25')
$opera-primary-color-opacity-50: opera-var('primary', 'opacity-50')
$opera-primary-color-opacity-75: opera-var('primary', 'opacity-75')

$opera-secondary-background-color: opera-var('secondary-background')
$opera-secondary-color:            opera-var('secondary')
$opera-secondary-font-color:       opera-var('secondary-font')

$opera-separator-color: opera-var('separator')

$opera-switch-color:               opera-var('switch')
$opera-switch-gx-background-color: opera-var('switch-gx-background')
$opera-switch-color-hover:         opera-var('switch', 'hover')
$opera-switch-color-pressed:       opera-var('switch', 'pressed')
$opera-switch-toggle-color:        opera-var('switch-toggle')

$opera-unchecked-radio-color: opera-var('unchecked-radio')

@mixin gx-clip-path
    $size: var(--clip-path-size)
    clip-path: polygon($size 0, 100% 0, 100% calc(100% - $size), calc(100% - $size) 100%, 0 100%, 0 $size)
    border-radius: 0
