@function palette-gx-no($n)
    @return var(--palette-gx-no-#{$n})

$palette-gx-no-0:   #{palette-gx-no(  0)}
$palette-gx-no-4:   #{palette-gx-no(  4)}
$palette-gx-no-8:   #{palette-gx-no(  8)}
$palette-gx-no-12:  #{palette-gx-no( 12)}
$palette-gx-no-16:  #{palette-gx-no( 16)}
$palette-gx-no-20:  #{palette-gx-no( 20)}
$palette-gx-no-24:  #{palette-gx-no( 24)}
$palette-gx-no-32:  #{palette-gx-no( 32)}
$palette-gx-no-40:  #{palette-gx-no( 40)}
$palette-gx-no-59:  #{palette-gx-no( 59)}
$palette-gx-no-77:  #{palette-gx-no( 77)}
$palette-gx-no-80:  #{palette-gx-no( 80)}
$palette-gx-no-88:  #{palette-gx-no( 88)}
$palette-gx-no-90:  #{palette-gx-no( 90)}
$palette-gx-no-92:  #{palette-gx-no( 92)}
$palette-gx-no-96:  #{palette-gx-no( 96)}
$palette-gx-no-98:  #{palette-gx-no( 98)}
$palette-gx-no-100: #{palette-gx-no(100)}

@function palette-gx-accent-l($n)
    @return var(--palette-gx-accent-l-#{$n})

$palette-gx-accent-l-8:   #{palette-gx-accent-l(  8)}
$palette-gx-accent-l-16:  #{palette-gx-accent-l( 16)}
$palette-gx-accent-l-24:  #{palette-gx-accent-l( 24)}
$palette-gx-accent-l-30:  #{palette-gx-accent-l( 30)}
$palette-gx-accent-l-60:  #{palette-gx-accent-l( 60)}
$palette-gx-accent-l-80:  #{palette-gx-accent-l( 80)}
$palette-gx-accent-l-100: #{palette-gx-accent-l(100)}
$palette-gx-accent-l-120: #{palette-gx-accent-l(120)}
$palette-gx-accent-l-140: #{palette-gx-accent-l(140)}
$palette-gx-accent-l-160: #{palette-gx-accent-l(160)}
$palette-gx-accent: $palette-gx-accent-l-100

$opera-background-color: #{var(--opera-background-color)}

$opera-button-background-color:          #{var(--opera-button-background-color)}
$opera-button-background-color-hover:    #{var(--opera-button-background-color-hover)}
$opera-button-background-color-pressed:  #{var(--opera-button-background-color-pressed)}
$opera-button-border-color:              #{var(--opera-button-border-color)}
$opera-button-disabled-background-color: #{var(--opera-button-disabled-background-color)}
$opera-button-disabled-border-color:     #{var(--opera-button-disabled-border-color)}

$opera-controls-disabled-color:      #{var(--opera-controls-disabled-color)}
$opera-controls-primary-color:       #{var(--opera-controls-primary-color)}
$opera-controls-primary-focus-color: #{var(--opera-controls-primary-focus-color)}
$opera-controls-primary-hover-color: #{var(--opera-controls-primary-hover-color)}

$opera-focus-outline-color: #{var(--opera-focus-outline-color)}

$opera-input-background-color:         #{var(--opera-input-background-color)}
$opera-input-background-color-hover:   #{var(--opera-input-background-color-hover)}
$opera-input-background-color-pressed: #{var(--opera-input-background-color-pressed)}
$opera-input-border-color:             #{var(--opera-input-border-color)}

$opera-link-color:                  #{var(--opera-link-color)}
$opera-link-focus-background-color: #{var(--opera-link-focus-background-color)}
$opera-link-hover-background-color: #{var(--opera-link-hover-background-color)}

$opera-modal-background-color: #{var(--opera-modal-background-color)}
$opera-modal-border-color:     #{var(--opera-modal-border-color)}
$opera-modal-header-color:     #{var(--opera-modal-header-color)}

$opera-primary-button-background-color:       #{var(--opera-primary-button-background-color)}
$opera-primary-button-background-color-hover: #{var(--opera-primary-button-background-color-hover)}
$opera-primary-button-border-color:           #{var(--opera-primary-button-border-color)}
$opera-primary-button-font-color:             #{var(--opera-primary-button-font-color)}

$opera-primary-color:     #{var(--opera-primary-color)}
$opera-primary-color-rgb: #{var(--opera-primary-color-rgb)}

$opera-primary-color-l-30:  #{var(--opera-primary-color-l-30)}
$opera-primary-color-l-60:  #{var(--opera-primary-color-l-60)}
$opera-primary-color-l-80:  #{var(--opera-primary-color-l-80)}
$opera-primary-color-l-120: #{var(--opera-primary-color-l-120)}
$opera-primary-color-l-140: #{var(--opera-primary-color-l-140)}
$opera-primary-color-opacity-25: #{var(--opera-primary-color-opacity-25)}
$opera-primary-color-opacity-50: #{var(--opera-primary-color-opacity-50)}
$opera-primary-color-opacity-75: #{var(--opera-primary-color-opacity-75)}

$opera-secondary-background-color: #{var(--opera-secondary-background-color)}
$opera-secondary-color:            #{var(--opera-secondary-color)}
$opera-secondary-font-color:       #{var(--opera-secondary-font-color)}

$opera-separator-color: #{var(--opera-separator-color)}

$opera-switch-color:               #{var(--opera-switch-color)}
$opera-switch-gx-background-color: #{var(--opera-switch-gx-background-color)}
$opera-switch-color-hover:         #{var(--opera-switch-color-hover)}
$opera-switch-color-pressed:       #{var(--opera-switch-color-pressed)}
$opera-switch-toggle-color:        #{var(--opera-switch-toggle-color)}

$opera-unchecked-radio-color: #{var(--opera-unchecked-radio-color)}

@mixin gx-clip-path
    $size: var(--clip-path-size)
    clip-path: polygon($size 0, 100% 0, 100% calc(100% - $size), calc(100% - $size) 100%, 0 100%, 0 $size)
    border-radius: 0
