:root
    --clip-path-size: 10px

    $background-h: env(-opera-gx-background-color-h)
    $background-s: env(-opera-gx-background-color-s)
    $background-l: env(-opera-gx-background-color-l)

    @each $n in 0, 4, 8, 12, 16, 20, 24, 32, 40, 59, 77, 80, 88, 90, 92, 96, 98, 100
        --palette-gx-no-#{$n}-values-hsl: #{$background-h} #{$background-s} #{$n}%
        --palette-gx-no-#{$n}: hsl(var(--palette-gx-no-#{$n}-values-hsl))

    $accent-r: env(-opera-gx-accent-color-r)
    $accent-g: env(-opera-gx-accent-color-g)
    $accent-b: env(-opera-gx-accent-color-b)

    @function scale($comp, $n)
        $scalar: ($n/100)
        @if $n > 100
            @return calc($comp + (255 - $comp) * ($scalar - 1))
        @else
            @if $n < 100
                @return calc($comp * $scalar)
            @else
                @return $comp

    @function scale-rgb($r, $g, $b, $n)
        @return scale($r, $n) scale($g, $n) scale($b, $n)

    @each $n in 8, 16, 24, 30, 60, 80, 100, 120, 140, 160
        --palette-gx-accent-l-#{$n}-values-rgb: #{scale-rgb($accent-r, $accent-g, $accent-b, $n)}
        --palette-gx-accent-l-#{$n}: rgb(var(--palette-gx-accent-l-#{$n}-values-rgb))

    /* Light theme by default */

    --opera-secondary-font-color: var(--palette-gx-no-40)
    --opera-font-color: var(--palette-gx-no-00)

    --opera-background-color: var(--palette-gx-no-96)
    --opera-secondary-background-color: var(--palette-gx-no-100)

    --opera-tile-background-color: var(--palette-gx-no-96)
    --opera-tile-border-color: var(--palette-gx-no-80)

    @media (prefers-color-scheme: dark)
        --opera-secondary-font-color: var(--palette-gx-no-77)
        --opera-font-color: var(--palette-gx-no-100)

        --opera-background-color: var(--palette-gx-no-8)
        --opera-secondary-background-color: var(--palette-gx-no-12)

        --opera-tile-background-color: var(--palette-gx-no-16)
        --opera-tile-border-color: var(--palette-gx-no-20)
