@use 'shared/opera-gx-variables';
@use 'zybooks-code';

.route-container,
body {
    background-color: var(--opera-gx-background-color) !important;
}

.toolbar,
.top-toolbar {
    background-color: var(--opera-gx-background-color-1) !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--opera-gx-background-color-4) !important;
}

@mixin toolbar-text {
    color: var(--opera-gx-background-color-7) !important;
}

.right-buttons {

    span,
    div {
        @include toolbar-text;
    }
}

.bread-crumbs {

    a,
    .divider {
        @include toolbar-text;
    }
}

a:not(.next-section-link) {
    color: var(--opera-gx-accent-color) !important;

    &:hover {
        text-decoration: underline !important;
    }

    text-decoration: none !important;
}

.zb-icon {
    .feedback-thumbs-pill > button > & {
        color: white !important;
    }

    color: var(--opera-gx-accent-color) !important;
}

.section-nav,
.insert-content,
.modify-section,
.time-remaining-toast,
.section-settings-menu,
.unknown-content-resource,
.zb-card {
    background-color: var(--opera-gx-background-color-1) !important;
    border: 1px solid var(--opera-gx-background-color-4) !important;
    border-radius: 10px !important;
    overflow: clip !important;
}

.zb-nav-menu {
    background-color: var(--opera-gx-background-color-1) !important;
    border: 1px solid var(--opera-gx-background-color-4) !important;

    a,
    button,
    li {
        color: var(--opera-gx-background-color-10-3) !important;

        // ! originally just for li; test for issues
        :hover {

            &,
            & > i {
                color: var(--opera-gx-accent-color) !important;
            }
        }
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--opera-gx-accent-color) !important;
}

.section-announcement.primary .icon-container {
    background-color: rgba(var(--opera-gx-accent-color-rgb), 0.7) !important;
}

.zb-chevron.filled.orange,
:not(.zb-card).primary,
.raised,
.button {
    background-color: var(--opera-gx-accent-color) !important;
    color: white !important;

    &.disabled {
        background-color: rgba(var(--opera-gx-accent-color-rgb), 0.7) !important;
    }
}

.zb-chevron.filled.orange::before {
    border-top-color: var(--opera-gx-accent-color) !important;
}

$container-types: "interactive-activity",
    "resource",
    "static";
$activity-parts: "type",
    "title-bar",
    "description";

@each $x in $container-types {
    .#{$x}-container {
        background-color: var(--opera-gx-background-color-2) !important;
        border: 1px solid var(--opera-gx-background-color-5) !important;

        @each $y in $activity-parts {
            .activity-#{$y} {
                background-color: var(--opera-gx-background-color-3) !important;
            }
        }

        .activity-type {
            border-right-color: var(--opera-gx-background-color-5) !important;
        }
    }
}

.interactive-activity-container {
    .activity-title-bar {
        border-bottom: 1px solid var(--opera-gx-background-color-5) !important;
    }

    &.participation .activity-title-bar {
        border-left-color: var(--opera-gx-accent-color) !important;
    }
}

input,
textarea {
    border-color: var(--opera-gx-background-color-5) !important;

    &:checked {
        background-color: var(--opera-gx-background-color-5) !important;
    }
}

.content-tools-app,
.test-question,
.unique,
.zybook-section {
    .term {
        color: white !important;
    }
}

.zb-feedback .expanded-feedback {
    background-color: var(--opera-gx-background-color-3) !important;
    border-color: var(--opera-gx-background-color-4) !important;
}

textarea {
    background-color: var(--opera-gx-background-color-2) !important;
}

.zb-nav-menu {

    .chapter-labels,
    .section-labels {
        .nav-item-label-lab {
            color: white !important;
        }
    }
}

::placeholder,
.zb-checkbox.label-present label {
    color: var(--opera-gx-background-color-5) !important;
}

.zb-feedback .expanded-feedback .feedback-header-row .feedback-header,
.static-container .static-container-title,
.zb-simple-expandable .toggle-button .title {
    color: white !important;
}

.assignment-section-summary .assignment-section-header .assignment-section-title {
    color: var(--opera-gx-background-color-10) !important;
}

.progressionTool div.zyante-progression-status-bar {
    $border-color: var(--opera-gx-accent-color-1);
    background-color: var(--opera-gx-background-color) !important;
    border-color: $border-color !important;

    div {
        &.highlighted {
            outline-color: $border-color !important;
        }

        &.filled {
            background-color: var(--opera-gx-accent-color) !important;
        }

        &:not(:last-child) {
            border-right-color: $border-color !important;
        }
    }
}

.activity-watermark {
    color: var(--opera-gx-background-color-10-2) !important;
}

:not(.primary) {

    & > div,
    & > p,
    & > span {
        color: var(--opera-gx-background-color-10-3);
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        color: var(--opera-gx-background-color-10-3) !important;
    }
}

table {
    background: var(--opera-gx-background-color) !important;

    th {
        background-color: var(--opera-gx-background-color-1) !important;
    }

    &,
    td,
    th {
        border-color: var(--opera-gx-background-color-4) !important;
    }
}

.inline-editor-header,
.ember-basic-dropdown.zb-menu > div,
.ember-basic-dropdown.zb-menu li > button {
    background-color: var(--opera-gx-background-color-3) !important;
}

.zb-segmented-control > button.zb-button.secondary {
    border-color: var(--opera-gx-accent-color) !important;

    &.selected {
        background-color: var(--opera-gx-accent-color) !important;

        & > span {
            color: white !important;
        }
    }

    &:not(.selected) {
        background-color: var(--opera-gx-background-color) !important;

        & > span {
            color: var(--opera-gx-accent-color) !important;
        }
    }
}

.ember-basic-dropdown.zb-menu li > button,
.lab-score {
    color: var(--opera-gx-accent-color) !important;
}

.program {
    background-color: var(--opera-gx-background-color-4) !important;
}

.develop-inputs textarea {
    color: white !important;
}
